<% if current_user %>
    <% if like = current_user.likes.find_by({ finstagram_post_id: finstagram_post.id }) %>
        <form action="/likes/<%= like.id %>" method="POST">
            <input name="_method" type="hidden" value="delete">
            <button id="likes" type="submit">
                <% if finstagram_post.like_count > 1 %>
                    <%= finstagram_post.like_count %> Likes
                <% elsif finstagram_post.like_count == 0 %>
                    <%= finstagram_post.like_count %> Likes
                <% else %>
                    <%= finstagram_post.like_count %> Like
                <% end %>
            </button>
        </form>
    <% else %>
        <form action="/likes" method="POST">
            <input type="hidden" name="finstagram_post_id" value="<%= finstagram_post.id %>">
                <button id="likes" type="submit">
                    <% if finstagram_post.like_count > 1 %>
                        <%= finstagram_post.like_count %> Likes
                    <% elsif finstagram_post.like_count == 0 %>
                        <%= finstagram_post.like_count %> Likes
                    <% else %>
                        <%= finstagram_post.like_count %> Like
                    <% end %>
                </button>
        </form>
    <% end %>
<% else %>
    <% if finstagram_post.like_count > 1 %>
        <%= finstagram_post.like_count %> Likes
    <% elsif finstagram_post.like_count == 0 %>
        <%= finstagram_post.like_count %> Likes
    <% else %>
        <%= finstagram_post.like_count %> Like
    <% end %>
<% end %>
